*{margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Single Day', cursive;
font-family: 'Lora', serif;
overflow-x: hidden;
font-family: 'GeneralSans';
box-sizing:border-box;
font: inherit;
color: white;
background: transparent;
}
@font-face {
    font-family: 'Kyiv Sans';
    src: url(fonts/kyivtypesans.woff2) format('woff2-variations');
    font-weight: 0 1000;
}
@font-face {
    font-family: 'GeneralSans';
    src: url(fonts/GeneralSans-Variable.woff2) format('woff2-variations');
    font-weight: 0 1000;
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(fonts/CabinetGrotesk-Variable.woff2) format('woff2-variations');
    font-weight: 0 1000;
}
@font-face {
    font-family: 'GeneralSansBold';
    src: url(fonts/GeneralSans-Bold.otf) format('otf'); 
}
@font-face {
    font-family: 'Satoshi';
    src: url(fonts/Satoshi-Variable.ttf) format('ttf-variations');
    font-weight: 0 1000;
}
@font-face {
    font-family: 'PorticoNormal';
    src: url(fonts/Portico\ Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'PorticoOutline';
    src: url(fonts/Portico\ Outline.woff2) format('woff2');
}
body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  
  #blob {
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    translate: -50% -50%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    animation: rotate 20s infinite;
    opacity: 0.6;
    z-index: 0;
    filter: blur(500px);
  }

.cursor-outline {
    width:40px;
    height: 40px;
    border: 2px solid rgb(156, 150, 150);
    position: fixed;
    top:0;
    left:0;
    background: transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index:220;
    pointer-events: none;
}

.header{
    min-height: 100vh;
    width: 100%;
    background: transparent;
    background-position: center;
    background-size: cover;
    position:relative;
    overflow-y: hidden;
}
.item-1{
    position:fixed;
    BOTTOM:0px;
    left: 0px;
    border-radius: 0;
    width:100%;
    z-index:2;
    height:5%;
    background-color: #ffffff;
    font-family: 'Cabinet Grotesk';
    text-align:center;
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    background-color: black;
    width:100%;
    height:21px;
    position:fixed; 
    top:0;
    left:0;
    align-items: center;
    z-index: 22;
    overflow: hidden;
}


nav img{
    position:absolute;
    object-fit: cover;
    width:50px;
    margin-left: 20px;
    translate: -12px -12px; 
}

nav .navlinks ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlinks{
    text-align: right;
    overflow-y: hidden;
}

.navlinks ul li{
    list-style: none;
    display: inline-block   ;
    padding: 8px 20px;
    position: relative;
    margin-right: 20px;
}
.navlinks ul li a{
    text-decoration: none;
    color:#F6F4EB;
    font-size: 15px;
    font-family: 'Cabinet Grotesk';
    font-weight:500;
    position: relative;
}

.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 1px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;
}
.album{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position:absolute;
    display: inline;
}
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 0%;
    top: 63%;
    transform: translate(0%, -80%); 
    user-select: none; 
    display: flex;
  }
  
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  } 


  .albumhp{
    width:0px;
    position:absolute
  }

.fa-solid.fa-bars{
    display:none;
}
.fa-solid.fa-xmark.fa-sm{
    display:none;
}
.fa-solid.fa-ghost.fa-3x{
    overflow-y: hidden;
}
.intro{
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

.name3{
    color:white;
    text-align: left;
    border: 0px solid black;
    height:50px;
    line-height: 230px;
    overflow: hidden;
}
.name1 h1{
    color: rgb(255, 255, 255);
    text-align: left;
    z-index:1;
    position:absolute;
    top: 590px;
    left: 50%;
    font-family: 'GeneralSans';
    font-weight: 500;
    font-size: 11.089rem;
    transition: 1s;
    animation: slideInRight 2.5s ease;
    background-color: transparent;
}

@keyframes slideInRight {
    from{
        transform: translateX(2000px)
    }

    to{
        transform: translate(0);
    }
}
@keyframes slideInLeft {
    from{
        transform: translateX(-500px)
    }

    to{
        transform: translate(0);
    }
}

.name1 h1:hover{
    color: rgb(255, 255, 255);
    text-align: left;
    z-index:1;
    position:absolute;
    top: 590px;
    left: 50%;
    font-family: 'GeneralSans';
    font-weight: 100;
    font-size: 11.089rem;
}

.name2 h1{
    color: rgb(255, 255, 255);
    text-align: left;
    z-index:1;
    position:absolute;
    top: 790px;
    left: 1480px;
    font-family: 'Cabinet Grotesk';
    font-weight: 150;
    font-size: 1.618rem;
    overflow-y: hidden;
    animation: slideInRight 2.5s ease;
    background-color: transparent;
}

.name2 h1 span{
    position: relative;
    color: #ffffff;
    font-size: 2.618rem;
    background-color: transparent;
}

.name2 h1 span::before{
    content: "";
    position: absolute;
    right: -8px;
    top: 50%;
    height:30px;
    width: 2px;
    background: #ffffff;
    transform: translate(-45%);
}


.name4 h1{
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    z-index:1;
    position:absolute;
    font-family: 'Cabinet Grotesk';
    font-weight: 150;
    font-size: 1rem;
    top:145px;
    left: 31px;
    animation: slideInLeft 2.5s ease;
    background-color: transparent;
}

.name5 h1{
    color: rgba(255, 255, 255, 0.3);
    text-align: left;
    z-index:1;
    position:absolute;
    font-family: 'Cabinet Grotesk';
    font-weight: 150;
    font-size: 1rem;
    bottom: 220px;
    right: 15px;
    animation: slideInRight 2.5s ease;
    background: transparent;
}

@media(max-width: 700px){
    .btn{
        width:10px;
        height:10px;
        color:black ;
        background:#3a3939;
        font-size:30px;
        font-weight:600;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-bottom:20px;
        position: absolute;
        top:10px;
        margin-left:-20px;
    }
    nav{
        display: flex;
        padding: 7%;
        justify-content: center;
        background-color: black;
        width:100%;
        height:30px;
        position:fixed; 
        top:0;
        left:0;
        align-items: center;
        z-index: 22;
        overflow: hidden;
    }
    nav img{
        display: none;
    }
    nav .navlinks ul {
        position: relative;
        display:inline-flex;
        justify-content: center;
        align-items: left;
    }
    .navlinks ul li{
        list-style: none;
        display: inline-block   ;
        padding: 0px;
        position: relative;
        margin-right: 20px;
    }
    .navlinks ul li a{
        text-decoration: none;
        color:#F6F4EB;
        font-size: 8px;
        font-family: 'Cabinet Grotesk';
        font-weight:500;
        position: relative;
        flex-wrap: nowrap;
    }
    .item-1{
        position:fixed;
        BOTTOM:0px;
        left: 0px;
        border-radius: 0;
        width:100vw;
        z-index:1;
        height:10%;
        background-color: #ffffff;
        font-family: 'Cabinet Grotesk';
        text-align:center;
        font-size: 10px;
        margin: auto;
        align-items: center;
        justify-content: center;
        overflow:hidden;
    }
    .name4 h1{
        color: rgba(255, 255, 255, 0.8);
        text-align: left;
        z-index:1;
        position:absolute;
        font-family: 'Cabinet Grotesk';
        font-weight: 150;
        font-size: 1rem;
        top:145px;
        left: 31px;
        width: 0%;
        animation: slideInLeft 2.5s ease;
    }
    .name1 h1{
        color: rgb(255, 255, 255);
        text-align: left;
        z-index:1;
        position:absolute;
        top: 300px;
        left: 35%;
        font-family: 'GeneralSans';
        font-weight: 500;
        font-size: 4.236rem;
        transition: 1s;
        animation: slideInRight 2.5s ease;
    }
    .name2 h1{
        color: rgb(255, 255, 255);
        text-align: left;
        z-index:1;
        position:absolute;
        top: 370px;
        left: 230px;
        font-family: 'Cabinet Grotesk';
        font-weight: 150;
        font-size: 1rem;
        overflow-y: hidden;
        animation: slideInRight 2.5s ease;
    }
    .name2 h1 span{
        position: relative;
        color: #ffffff;
        font-size: 1.618rem;
    }
    .name5 h1{
        color: rgba(255, 255, 255, 0.3);
        text-align: left;
        z-index:1;
        position:absolute;
        font-family: 'Cabinet Grotesk';
        font-weight: 150;
        font-size: 1rem;
        bottom:220px;
        right: 15px;
        width:0px;
        animation: slideInRight 2.5s ease;
    }
}

/*----- About Me -----*/

.aboutme{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: block;
}
.aboutme h1{
    font-size:36px;
    font-weight:600;
    color: black;
    font-family: 'GeneralSans';
    font-display: uppercase;
}

.aboutme p{
    font-size:17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    translate: 10px -50px;
    font-family: 'Rubik', sans-serif;
}
.fa-solid.fa-ghost.fa-3x{
    translate: 115px -50px   
}

.row{
    display: flex;
    justify-content: space-between;
}

.aboutme-col{
    flex-basis: 31%;
    background: #FFE6E6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:0.5s;
}
.aboutme-co{
    flex-basis: 31%;
    background: #FFE6E6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:0.5s;
}
.aboutme-c{
    flex-basis: 31%;
    background: #FFE6E6;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:0.5s;
}
.aboutme-col h3{
    text-align:center;
    font-weight: 500;
    margin: 10px 0;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px
}

.aboutme-co h3{
    text-align:center;
    font-weight: 200;
    margin: 10px 0;
    font-family: 'Single Day', cursive;
    font-size: 30px
}
.aboutme-c h3{
    text-align:center;
    font-weight: 500;
    margin: 10px 0;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px
}
.aboutme-col p{
    translate: 0;
    text-align:center;
    font-weight:400;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}
.aboutme-c p{
    translate: 0;
    text-align:center;
    font-weight:400;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    text-align: left;
}
.aboutme-co p{
    translate: 0;
    text-align:center;
    font-weight:400;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    text-align:left;
}
.aboutme-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.aboutme-co:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.aboutme-c:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column
    }
}

/*----- Top 4 -----*/

.me{
    background-color: black;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    width: 200px;
    height: 700px;
    margin: 5px;
    border-radius: 50px;
    background: url(images/uaena2.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.5s;
}

.img-box:nth-child(2){
    background:url(images/itzy1.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background:url(images/sejeong1.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background:url(images/lesse2.webp);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color:#F6F4EB;
    position:absolute;
    bottom: 0;
    left: 30px;
    opacity:0;
    transition: bottom 0.5s, opacity 0.5s;
    font-family: 'Cabinet Grotesk';
    font-weight: 500;
}
.img-box:hover{
    width: 500px;
    cursor: pointer;
}

.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}


@media(max-width: 700px){
    html, body{
        overflow-x:hidden
    }
    body{
        position:relative
    }
    .container{
        flex-direction: column;
    }
    .img-box{
        width: 50px;
        height: 300px;
        margin: 10px;
        border-radius: 50px;
        background: url(images/uaena2.webp);
        background-size: cover;
        background-position: center;
        position: relative;
        transition: 0.5s;
}
}

/*---- Albums ----*/


  @media(max-width: 700px){
    #image-track {
        display: flex;
        flex-direction: column;
        gap: 4vmin;
        position: absolute;
        left: 70%;
        top: 45%;
        transform: translate(0%, -50%); 
        user-select: none; 
      }
      
      #image-track > .image {
        width: 0px;
        height: 50px;
        object-fit: cover;
        object-position: 100% center;
      } 

      .albumhp{
        max-width:1080px;
        margin:auto;
        padding-left: 25px;
        padding-right: 25px;
        width:200px;
      }

      .col-4{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        display: visible;
      }
      .col-4 img{
        width:100%;
        display:visible;
        margin:10px;
    }
  }


:root{
--size-100: .25rem;
--size-200: .5rem;
--size-300: .75rem;
--size-400: 1rem;
--size-500: 1.5rem;
--size-600: 2rem;
--size-700: 3rem;
--size-800: 4rem;
--size-900: 5rem;
}
.padding-block-900{
    padding-block: var(--size-900);
}

.padding-block-600{
    padding-block: var(--size-600);
}

.container{
    --max-width: 1110px;
    padding: 60px;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    z-index: 3;
    background: transparent;
}

.even-columns{
    display:grid;
    gap: 1rem;
    overflow-y: hidden;
    z-index: 3;
    background: transparent;
}

.threecolumns{
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
}

.flow * + * {
    margin-top: 2em;
}

@media (min-width: 50em){
    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.button{
    cursor: pointer;
    border-radius: 100vmax;
    padding: 1em 1.75em;
    background-color: black;
    font-family: 'Cabinet Grotesk' ;
    font-weight: 400;
    font-size: 1rem;
    border-color: white;
    border-style: solid;
    transition: 1s;
}


.button:hover, .button:focus-visible {
    background-color: white;
    color: black;
    font-weight: 700;
}

.button2{
    border: 2px solid white;
    color:white;
    border-radius: 100%;
    width:200px;
    height:200px;
    font-family: 'Cabinet Grotesk' ;
    font-weight: 400;
    font-size: 1.618rem;
    transition: 1s;
}

.button2:hover, .button2:focus-visible {
    background-color: white;
    color: black;
    font-weight: 700;
}

.whoamI p{
    font-family: 'Cabinet Grotesk';
    margin-top: 480px;
    background: transparent;
}

.whoamI{
    background: transparent;
}
.card{
    background-color: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 1rem;
    margin-right: 20px;
}

.card img{
    object-position: center;
    object-fit: cover;
    transition: 1s;
    border-radius: 50px;
}

.thisistext{
    background: transparent;
}

.hacked{
    background: transparent;
}

body{
    background-color: black;
}

.button span{
    margin-left: 5px;
    width: 0px;
    overflow: hidden;
    transition: 1s;
    display: none;
    color: black;
}

.button:hover span{
    display: inline;
}

.topartist h2{
    margin-top: 50px;
    margin-left: 20px;
}

.topartist p{
    margin-top: -10px;
    margin-left: 230px;
    font-family: 'Cabinet Grotesk';
    font-weight:200;
}
